<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EnCamps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDW1cv_8QlwsrJ69LDgPn9LXVHM6R0q26I",
        authDomain: "encamp-e930f.firebaseapp.com",
        databaseURL: "https://encamp-e930f.firebaseio.com",
        projectId: "encamp-e930f",
        storageBucket: "",
        messagingSenderId: "460234259064"
      };
      firebase.initializeApp(config);
    </script>
    <!-- <script src="main.js"></script> -->
</head>
<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">EnCamps</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Log In</a></li>
                            <li><a href="/">Sign Up</a></li>
                            <li><a href="/">Log Out</a></li>
                        
                        </ul>
                    </div>
            
                </div>
            
            </nav>